.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Bubblegum Sans", sans-serif;
}

/* ======= Intialize ======= */

*, ::before, ::after{
  marging: 0;
  padding: 0;
  box-sizing:border-box;
}
::root{
  --accent-color: #34495e;
  --bg-color: #ecf0f1;
  --sub-font: "georgia" sans-serif;
  --main-font: "Bubblegum Sans", sans-serif;
  --g-ration: 1.618;
}
body{
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size: 1.2rem;
}
hr{
  margin-top:0.5rem;
  width: 70 px;
  height: 5px;
  background-color:#34495e;
  border: none;
}
