.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Lobster", sans-serif;
}

/*======= Initialize =======*/

*,::before, ::after {
  marging:0;
  padding:0;
  box-sizing:border-box;
}
::root{
--accent-color: #34495e;
--bd-color: #ecf0f1;
--sub-font: "georgia", sans-serif;
--main-font: "Bungee spice", sans serif;
--g-ratio: 1.618;
}
body{
  font-family: var(--sub-font);
  font-weight: 300;
  background-color: var(--bg-color);
  color: #111;
  font-size:1.3rem;
}
hr{
  margin-top: 0.5rem
  width: 70px;
  height:5px;
  background-color: #34495e;
  border:none;
}
h1, h2, h3, .title{
  font-family: var(--main-font);
  font-weight; 900;
}
.title
{ color: var(--accent-color);
  }

.wrapper{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: calc(100vw / var(--g ratio));
  height:100vh;
  min-width:800px;
  margin: 0 auto;
  background-color: inherit;
}
.container{
  width: 100%;
  height: 100%;
  padding: 5rem 0;
}
/*========= Main Content ========= */














































